* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
   /* html {
    height: 100%;
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
  }
  */

  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    display: flex;
  }
  
  main {
    flex-grow: 1; 
    background-color: rgba(0, 0, 0, 0.5);
    background-color: red;
  }
  
  header {
    height: 10%; 
    padding: 3px;
    background-color: green;
  }
  
  footer {
    padding: 10px;
    flex-grow: 0; 
    background-color: blue;
  }


  button {
    margin: 1em auto;
    border: 2px solid black;    
    border-radius: 0.75em;
    background-color: white;
    padding: 0.5em 5em;
    display: block;
  }

  .limiter {
    width: 90%;
    max-width: 1200px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-left: 10px;
}
  
  
 